<!DOCTYPE html>
<html>
<head>
    <title>Relocation Feasibility Portal using Cost of Living Data</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='bgcolor.css')}}">
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1 class="centered-title">Relocation Feasibility Portal using Cost of Living Data</h1>
            <img src="{{ url_for('static', filename='iu-symbol.jpg')}}" alt="University Logo" class="university-logo">
        </div>
    </div>
             <h2 class="update-priorities-title">Update Priorities</h2>
        </div>
        <form method="POST" action="{{ url_for('update_priorities') }}">
            <label>Please rank what is most important to you from 1-5 where 1 is your highest priority. <i>Each number should only be selected once.</i></label><br><br>
            <label for="savings">Savings: </label>
            <select name="savings" id="savings"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option>
            </select><br><br>
            <label for="rent">Rent: </label>
            <select name="rent" id="rent"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option>
            </select><br><br>
            <label for="groceries">Groceries:   </label>
            <select name="groceries" id="groceries"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option>
            </select><br><br>
            <label for="restaurant">Eating Out: </label>
            <select name="restaurant" id="restaurant"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option>
            </select><br><br>
            <label for="travel">Travel: </label>
            <select name="travel" id="travel"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option>
            </select>
            <br><br>
            <input type="submit" class="button" value="Update Priorities">
        </form>
    </div> 
    <div class="scrolling-line-container">
        <div class="scrolling-line">For any further details, contact svujjin@iu.edu or aconeil@iu.edu or pechian@iu.edu</div>
    </div> 
</body>
</html>





